MODEL_PATH=../yolov8l.pt
VIDEO_PATH=./data/testing_1.mp4
OUTPUT_PATH=../Output/speed_annotated_submission.mp4
ALERTS_DIR=./alerts

FRAME_WIDTH=900
FRAME_HEIGHT=600
TARGET_FPS=5

API_URL=http://localhost:8000/speed
API_TIMEOUT_SEC=1.0

EMA_ALPHA=0.2
SPEED_LIMIT_KMH=25
MAX_SPEED_KMH=120
MIN_PIXEL_MOVEMENT=1.5
